@media all and (min-width:768px){
    .divider{
        margin-top: 124px;
    }
    .m-divider{
        margin-top: 124px;
    }
    .header{
        position: static;
        padding: 28px 52px;
    }
    .header .gnb{
        display: block !important;
        position: static;
        float: right;
        width: auto;
        margin-top: 6px;
        background: none;
    }
    .header .gnb li{
        float: left;
        margin-left: 21px;
        border-bottom: 0;
    }
    .header .gnb li a{
        color: #3f51b5;
        padding: 0;
        font-size: 16px;
    }
    .header .menu-toggle-btn{
        display: none !important;
    }
    .display-section{
        margin-top: 95px;
    }
    .promotion-section{
        margin-top: 110px;
    }
    .promotion-section .prom-list li{
        float: left;
        width: 23.046875%;
        /*177px/768*/
        height: 2.604166666666667%;
        margin-top: 0;
    }
    .promotion-section .prom-list li:first-child{
        margin-left: 0;
    }
    .work-section{
        margin-top: 118px;
    }
    .work-section .sec-tit{
        margin-bottom: 76px;
    }
    .work-section .work-list li{
        float: left;
        width: 50%;
    }
    .work-section .work-list li .info{
        left: 37px;
    }
    .work-section .work-list li a:hover .info{
        transform: translateY(37px);
    }
    .blog-section{
        margin-top: 124px;
    }
    .blog-section .sec-tit{
        margin-bottom: 76px;
    }
    .blog-section .blog-list li{
        float: left;
        width: 31.56722222222222%;
        margin-left: 2.604166666666667%;
        margin-top: 0;
    }
    .blog-section .blog-list li:first-child{
        margin-left: 0;
    }
    .contact-section{
        margin-top: 176px;
    }
    .contact-section .sec-tit{
        margin-bottom: 176px;
    }
    .contact-section .form-box .form, .contact-section .form-box .text-area{
        float: left;
        width: 48.69791666666667%;
    }
    .contact-section .form-box .form{
        margin-right: 2.369668246445498%;
    }
    .contact-section .form-box .form input:last-child{
        margin-bottom: 0;
    }
    .footer iframe{
        height: 432px;
    }
    .footer p{
        margin: 34px 0;
    }
}
@media all and (min-width:1132px){
    .display-section{
        text-align: left;
    }
    .display-section .sec-tit{
        float: left;
        margin-bottom: 0;
    }
    .display-section .desc{
        position: relative;
        float: right;
        padding-left: 20px;
        font-family: 'PT Serif';
        color: #616161;
        line-height: 1.9;
    }
    .display-section .desc:before{
        display: block;
        position: absolute;
        top: 9px;
        left: 0;
        width: 2px;
        height: 44px;
        background: #e0e0e0;
        content: "";
    }
    .promotion-section .prom-list li{
        width: 23.67491166077739%;
        margin-left: 1.76678445229682%;
    }
    .work-section .sec-tit{
        text-align: left;
    }
    .work-section .work-list li{
        width: 25%;
    }
    .blog-section .sec-tit{
        float: left;
        margin-bottom: 0;
    }
    .blog-section .blog-list{
        float: right;
        width: 74.5583038869258%;
    }
    .blog-section .blog-list li{
        width: 31.75355450236967%;
        margin-left: 2.369668246445498%;
    }
    .contact-section .sec-tit{
        float: left;
        margin-bottom: 0;
    }
    .contact-section .form-box{
        float: right;
        width: 74.5583038869258%;
    }
    .contact-section .form-box .form, .contact-section .form-box .text-area{
        width: 48.81516587677725%;
    }
    .contact-section .form-box .form{
        margin-right: 2.369668246445498%;
    }
}